.loader-page {
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .loader-content {
    min-height: -webkit-fill-available;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba($color: var(--color-primary-dark), $alpha: 0.6);
    .logo {
      img {
        height: 60px;
        margin-bottom: 10px;
      }
    }
  }
}

.loader {
  position: absolute;
  opacity: 0.9;
  z-index: 1000;
  background-color: white;
}
